
/*Import fonts from fonts.css*/
@import url(./fonts.css);
/* CSS Variables*/
@import url(./partials/_variables.css);

/*import global styling*/
@import url(./partials/_global.css);



/* Start Navbar*/
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color:var(--text-gray);
}

.collapse{
    height: 30rem;
}


.nav .nav-items{
    
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
} 

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;

}

.nav .social{
    padding: 1.8rem 0;
}

.nav .social i{
    padding: 0 0.4rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/*End Navbar*/


/*Start Main Section*/

main .site-title{
    background: url("../assets/img/Background-image.png");
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;

}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1,h3{
    margin: 3rem;
}


main.site-title.btn{
    margin:1.8rem;
    background-color: black;
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
/*End Main Section*/
