a{
    text-decoration: none;
    color: var(--text-gray);

}

ul{ 
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

span{
    font-family: var(--Abel);
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

/* Global Classes*/

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}